apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: "${NAMESPACE}"

bases:
  - ../base-root
  - ./nutanix-cluster.yaml
  - ./cluster-without-topology.yaml
  - ./kcp.yaml
  - ./kct.yaml
  - ./nmt.yaml
  - ./md.yaml
  - ./mhc.yaml

patchesStrategicMerge:
- ./ccm-patch.yaml