---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  labels:
    clusterctl.cluster.x-k8s.io/move: ""
  name: ahvmetrozones.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    categories:
    - cluster-api
    kind: AHVMetroZone
    listKind: AHVMetroZoneList
    plural: ahvmetrozones
    singular: ahvmetrozone
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: AHVMetroZone is the Schema for the ahvmetrozones API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: AHVMetroZoneSpec defines the desired state of AHVMetroZone
            properties:
              placement:
                description: placement defines the VM provisioning placement strategy
                properties:
                  preferredZone:
                    description: |-
                      preferredZone specifies the VM should be provisioned to the specified
                      preferred zone. When the preferred zone is not available, or being
                      evacuated (e.g. in maintainence), the VM will be provisioned to the
                      remaining zone. This field is required to set when the VM placement
                      strategy is set to Preferred.
                    type: string
                  strategy:
                    default: Preferred
                    description: |-
                      strategy defines the VM placement strategy of Preferred or Random,
                      with Preferred as the default. When the strategy is Preferred, the
                      preferredZone must be specified.
                    enum:
                    - Preferred
                    - Random
                    type: string
                required:
                - strategy
                type: object
                x-kubernetes-validations:
                - message: preferredZone is required for Preferred strategy.
                  rule: self.strategy != "Preferred" || (has(self.preferredZone) &&
                    self.preferredZone != "")
              zones:
                description: zones defines the Prism Element zones of the AHV Metro
                  Domain.
                items:
                  description: MetroZone defines a Prism Element zone of the AHV Metro
                    Domain.
                  properties:
                    name:
                      description: name is the unique name of the metro zone.
                      maxLength: 64
                      minLength: 1
                      type: string
                    prismElement:
                      description: prismElement is the identifier of the Prism Element.
                      properties:
                        name:
                          description: name is the resource name in the PC
                          minLength: 1
                          type: string
                        type:
                          description: Type is the identifier type to use for this
                            resource.
                          enum:
                          - uuid
                          - name
                          type: string
                        uuid:
                          description: uuid is the UUID of the resource in the PC.
                          format: uuid
                          maxLength: 36
                          minLength: 36
                          type: string
                      required:
                      - type
                      type: object
                      x-kubernetes-validations:
                      - message: '''name'' must be set when type is ''name'', and
                          forbidden otherwise'
                        rule: 'self.type == ''name'' ? has(self.name) : !has(self.name)'
                      - message: '''uuid'' must be set when type is ''uuid'', and
                          forbidden otherwise'
                        rule: 'self.type == ''uuid'' ? has(self.uuid) && self.uuid.contains(''-'')
                          : !has(self.uuid)'
                    subnets:
                      description: |-
                        subnets holds a list of identifiers (one or more) of the subnets.
                        The subnets should already exist in PC and there is no duplicate items configured.
                      items:
                        description: NutanixResourceIdentifier holds the identity
                          of a Nutanix PC resource (cluster, image, subnet, etc.)
                        properties:
                          name:
                            description: name is the resource name in the PC
                            minLength: 1
                            type: string
                          type:
                            description: Type is the identifier type to use for this
                              resource.
                            enum:
                            - uuid
                            - name
                            type: string
                          uuid:
                            description: uuid is the UUID of the resource in the PC.
                            format: uuid
                            maxLength: 36
                            minLength: 36
                            type: string
                        required:
                        - type
                        type: object
                        x-kubernetes-validations:
                        - message: '''name'' must be set when type is ''name'', and
                            forbidden otherwise'
                          rule: 'self.type == ''name'' ? has(self.name) : !has(self.name)'
                        - message: '''uuid'' must be set when type is ''uuid'', and
                            forbidden otherwise'
                          rule: 'self.type == ''uuid'' ? has(self.uuid) && self.uuid.contains(''-'')
                            : !has(self.uuid)'
                      maxItems: 32
                      minItems: 1
                      type: array
                  required:
                  - name
                  - prismElement
                  - subnets
                  type: object
                minItems: 2
                type: array
                x-kubernetes-list-map-keys:
                - name
                x-kubernetes-list-type: map
            required:
            - placement
            - zones
            type: object
          status:
            description: AHVMetroZoneStatus defines the observed state of AHVMetroZone
              resource.
            properties:
              conditions:
                description: conditions represent the latest states of the AHVMetroZone.
                items:
                  description: Condition defines an observation of a Cluster API resource
                    operational state.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed. If that is not known, then using the time when
                        the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This field may be empty.
                      maxLength: 10240
                      minLength: 1
                      type: string
                    reason:
                      description: |-
                        reason is the reason for the condition's last transition in CamelCase.
                        The specific API may choose whether or not this field is considered a guaranteed API.
                        This field may be empty.
                      maxLength: 256
                      minLength: 1
                      type: string
                    severity:
                      description: |-
                        severity provides an explicit classification of Reason code, so the users or machines can immediately
                        understand the current situation and act accordingly.
                        The Severity field MUST be set only when Status=False.
                      maxLength: 32
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: |-
                        type of condition in CamelCase or in foo.example.com/CamelCase.
                        Many .condition.type values are consistent across resources like Available, but because arbitrary conditions
                        can be useful (see .node.status.conditions), the ability to deconflict is important.
                      maxLength: 256
                      minLength: 1
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              v1beta2:
                description: v1beta2 groups all the fields that will be added or modified
                  in AHVMetroZone's status with the v1beta2 version.
                properties:
                  conditions:
                    description: conditions represents the observations of a AHVMetroZone's
                      current state.
                    items:
                      description: Condition contains details for one aspect of the
                        current state of this API Resource.
                      properties:
                        lastTransitionTime:
                          description: |-
                            lastTransitionTime is the last time the condition transitioned from one status to another.
                            This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                          format: date-time
                          type: string
                        message:
                          description: |-
                            message is a human readable message indicating details about the transition.
                            This may be an empty string.
                          maxLength: 32768
                          type: string
                        observedGeneration:
                          description: |-
                            observedGeneration represents the .metadata.generation that the condition was set based upon.
                            For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                            with respect to the current state of the instance.
                          format: int64
                          minimum: 0
                          type: integer
                        reason:
                          description: |-
                            reason contains a programmatic identifier indicating the reason for the condition's last transition.
                            Producers of specific condition types may define expected values and meanings for this field,
                            and whether the values are considered a guaranteed API.
                            The value should be a CamelCase string.
                            This field may not be empty.
                          maxLength: 1024
                          minLength: 1
                          pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                          type: string
                        status:
                          description: status of the condition, one of True, False,
                            Unknown.
                          enum:
                          - "True"
                          - "False"
                          - Unknown
                          type: string
                        type:
                          description: type of condition in CamelCase or in foo.example.com/CamelCase.
                          maxLength: 316
                          pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                          type: string
                      required:
                      - lastTransitionTime
                      - message
                      - reason
                      - status
                      - type
                      type: object
                    maxItems: 32
                    type: array
                    x-kubernetes-list-map-keys:
                    - type
                    x-kubernetes-list-type: map
                type: object
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
