---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: nutanixvhadomains.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    kind: NutanixVHADomain
    listKind: NutanixVHADomainList
    plural: nutanixvhadomains
    singular: nutanixvhadomain
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: NutanixVHADomain is the Schema for the vHA Domain API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: NutanixVHADomainSpec defines the desired state of NutanixVHADomain
            properties:
              sites:
                description: sites defines the Prism Element sites of the vHA domain.
                items:
                  properties:
                    categories:
                      description: |-
                        categories of the vHA domain corresponding to the vHADomain Site.
                        If this field is not set,the default will be added with the format:
                        "ahvMetro-nkp-cluster-<clusterName>:<peName>".
                      items:
                        properties:
                          key:
                            description: key is the Key of category in PC.
                            type: string
                          value:
                            description: value is the category value linked to the
                              category key in PC
                            type: string
                        type: object
                      type: array
                    prismElement:
                      description: |-
                        prismElement is the identifier of the Prism Element cluster
                        of the vHA Domain Site.
                      properties:
                        name:
                          description: name is the resource name in the PC
                          minLength: 1
                          type: string
                        type:
                          description: Type is the identifier type to use for this
                            resource.
                          enum:
                          - uuid
                          - name
                          type: string
                        uuid:
                          description: uuid is the UUID of the resource in the PC.
                          format: uuid
                          maxLength: 36
                          minLength: 36
                          type: string
                      required:
                      - type
                      type: object
                      x-kubernetes-validations:
                      - message: '''name'' must be set when type is ''name'', and
                          forbidden otherwise'
                        rule: 'self.type == ''name'' ? has(self.name) : !has(self.name)'
                      - message: '''uuid'' must be set when type is ''uuid'', and
                          forbidden otherwise'
                        rule: 'self.type == ''uuid'' ? has(self.uuid) && self.uuid.contains(''-'')
                          : !has(self.uuid)'
                    protectionPolicyUUID:
                      description: |-
                        The created vHADomain Protection Policy's UUID.
                        The field will be set once the Protection Policy is created in PC.
                      type: string
                    recoveryPlanUUIDs:
                      description: |-
                        The vHADomain Recovery Plan UUID corresponding to the vHADomain Site
                        The field will be set once the Recovery Plan is created in PC.
                      type: string
                    subnets:
                      description: |-
                        subnets holds a list of identifiers (one or more) of the vHA Domain Site.
                        The subnets should already exist in PC.
                      items:
                        description: NutanixResourceIdentifier holds the identity
                          of a Nutanix PC resource (cluster, image, subnet, etc.)
                        properties:
                          name:
                            description: name is the resource name in the PC
                            minLength: 1
                            type: string
                          type:
                            description: Type is the identifier type to use for this
                              resource.
                            enum:
                            - uuid
                            - name
                            type: string
                          uuid:
                            description: uuid is the UUID of the resource in the PC.
                            format: uuid
                            maxLength: 36
                            minLength: 36
                            type: string
                        required:
                        - type
                        type: object
                        x-kubernetes-validations:
                        - message: '''name'' must be set when type is ''name'', and
                            forbidden otherwise'
                          rule: 'self.type == ''name'' ? has(self.name) : !has(self.name)'
                        - message: '''uuid'' must be set when type is ''uuid'', and
                            forbidden otherwise'
                          rule: 'self.type == ''uuid'' ? has(self.uuid) && self.uuid.contains(''-'')
                            : !has(self.uuid)'
                      minItems: 1
                      type: array
                  required:
                  - prismElement
                  - subnets
                  type: object
                minItems: 2
                type: array
            required:
            - sites
            type: object
          status:
            description: NutanixVHADomainStatus defines the state of the NutanixVHADomain
              resource.
            properties:
              conditions:
                description: |-
                  conditions represent the latest states of the vHA domain,
                  including if the vHA domain PC entities (categories, protection policy,
                  and recovery plans) are successfully created.
                items:
                  description: Condition defines an observation of a Cluster API resource
                    operational state.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed. If that is not known, then using the time when
                        the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This field may be empty.
                      maxLength: 10240
                      minLength: 1
                      type: string
                    reason:
                      description: |-
                        reason is the reason for the condition's last transition in CamelCase.
                        The specific API may choose whether or not this field is considered a guaranteed API.
                        This field may be empty.
                      maxLength: 256
                      minLength: 1
                      type: string
                    severity:
                      description: |-
                        severity provides an explicit classification of Reason code, so the users or machines can immediately
                        understand the current situation and act accordingly.
                        The Severity field MUST be set only when Status=False.
                      maxLength: 32
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: |-
                        type of condition in CamelCase or in foo.example.com/CamelCase.
                        Many .condition.type values are consistent across resources like Available, but because arbitrary conditions
                        can be useful (see .node.status.conditions), the ability to deconflict is important.
                      maxLength: 256
                      minLength: 1
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              failureMessage:
                description: Will be set in case of reconciling failure of the NutanixVHADomain
                  resource.
                type: string
              failureReason:
                description: Will be set in case of reconciling failure of the NutanixVHADomain
                  resource.
                type: string
              ready:
                description: |-
                  ready is set to true when the vHA domain PC entities (categories, protection
                  policy, and recovery plan) are successfully created and/or validated.
                type: boolean
            required:
            - ready
            type: object
        type: object
    served: true
    storage: true
