---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: nutanixclusters.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    categories:
    - cluster-api
    kind: NutanixCluster
    listKind: NutanixClusterList
    plural: nutanixclusters
    shortNames:
    - ncl
    singular: nutanixcluster
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: ControlplaneEndpoint
      jsonPath: .spec.controlPlaneEndpoint.host
      name: ControlplaneEndpoint
      type: string
    - description: in ready status
      jsonPath: .status.ready
      name: Ready
      type: string
    - description: NutanixCluster FailureDomains
      jsonPath: .status.failureDomains
      name: FailureDomains
      type: string
    name: v1beta1
    schema:
      openAPIV3Schema:
        description: NutanixCluster is the Schema for the nutanixclusters API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: NutanixClusterSpec defines the desired state of NutanixCluster
            properties:
              controlPlaneEndpoint:
                description: |-
                  ControlPlaneEndpoint represents the endpoint used to communicate with the control plane.
                  host can be either DNS name or ip address
                properties:
                  host:
                    description: host is the hostname on which the API server is serving.
                    maxLength: 512
                    type: string
                  port:
                    description: port is the port on which the API server is serving.
                    format: int32
                    type: integer
                required:
                - host
                - port
                type: object
              controlPlaneFailureDomains:
                description: |-
                  controlPlaneFailureDomains configures references to the NutanixFailureDomain objects
                  that the cluster uses to deploy its control-plane machines.
                items:
                  description: |-
                    LocalObjectReference contains enough information to let you locate the
                    referenced object inside the same namespace.
                  properties:
                    name:
                      default: ""
                      description: |-
                        Name of the referent.
                        This field is effectively required, but due to backwards compatibility is
                        allowed to be empty. Instances of this type with an empty value here are
                        almost certainly wrong.
                        More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                      type: string
                  type: object
                  x-kubernetes-map-type: atomic
                type: array
                x-kubernetes-list-map-keys:
                - name
                x-kubernetes-list-type: map
              failureDomains:
                description: |-
                  failureDomains configures failure domains information for the Nutanix platform.
                  When set, the failure domains defined here may be used to spread Machines across
                  prism element clusters to improve fault tolerance of the cluster.

                  Deprecated: This field is replaced by the field controlPlaneFailureDomains and will be removed in the next apiVersion.
                items:
                  description: |-
                    NutanixFailureDomainConfig configures failure domain information for Nutanix.

                    Deprecated: This type is replaced by the NutanixFailureDomain CRD type and will be removed in the next apiVersion.
                  properties:
                    cluster:
                      description: |-
                        cluster is to identify the cluster (the Prism Element under management of the Prism Central),
                        in which the Machine's VM will be created. The cluster identifier (uuid or name) can be obtained
                        from the Prism Central console or using the prism_central API.
                      properties:
                        name:
                          description: name is the resource name in the PC
                          minLength: 1
                          type: string
                        type:
                          description: Type is the identifier type to use for this
                            resource.
                          enum:
                          - uuid
                          - name
                          type: string
                        uuid:
                          description: uuid is the UUID of the resource in the PC.
                          format: uuid
                          maxLength: 36
                          minLength: 36
                          type: string
                      required:
                      - type
                      type: object
                      x-kubernetes-validations:
                      - message: '''name'' must be set when type is ''name'', and
                          forbidden otherwise'
                        rule: 'self.type == ''name'' ? has(self.name) : !has(self.name)'
                      - message: '''uuid'' must be set when type is ''uuid'', and
                          forbidden otherwise'
                        rule: 'self.type == ''uuid'' ? has(self.uuid) && self.uuid.contains(''-'')
                          : !has(self.uuid)'
                    controlPlane:
                      description: indicates if a failure domain is suited for control
                        plane nodes
                      type: boolean
                    name:
                      description: |-
                        name defines the unique name of a failure domain.
                        Name is required and must be at most 64 characters in length.
                        It must consist of only lower case alphanumeric characters and hyphens (-).
                        It must start and end with an alphanumeric character.
                        This value is arbitrary and is used to identify the failure domain within the platform.
                      maxLength: 64
                      minLength: 1
                      pattern: '[a-z0-9]([-a-z0-9]*[a-z0-9])?'
                      type: string
                    subnets:
                      description: |-
                        subnets holds a list of identifiers (one or more) of the cluster's network subnets
                        for the Machine's VM to connect to. The subnet identifiers (uuid or name) can be
                        obtained from the Prism Central console or using the prism_central API.
                      items:
                        description: NutanixResourceIdentifier holds the identity
                          of a Nutanix PC resource (cluster, image, subnet, etc.)
                        properties:
                          name:
                            description: name is the resource name in the PC
                            minLength: 1
                            type: string
                          type:
                            description: Type is the identifier type to use for this
                              resource.
                            enum:
                            - uuid
                            - name
                            type: string
                          uuid:
                            description: uuid is the UUID of the resource in the PC.
                            format: uuid
                            maxLength: 36
                            minLength: 36
                            type: string
                        required:
                        - type
                        type: object
                        x-kubernetes-validations:
                        - message: '''name'' must be set when type is ''name'', and
                            forbidden otherwise'
                          rule: 'self.type == ''name'' ? has(self.name) : !has(self.name)'
                        - message: '''uuid'' must be set when type is ''uuid'', and
                            forbidden otherwise'
                          rule: 'self.type == ''uuid'' ? has(self.uuid) && self.uuid.contains(''-'')
                            : !has(self.uuid)'
                      minItems: 1
                      type: array
                  required:
                  - cluster
                  - controlPlane
                  - name
                  - subnets
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - name
                x-kubernetes-list-type: map
              prismCentral:
                description: |-
                  prismCentral holds the endpoint address and port to access the Nutanix Prism Central.
                  When a cluster-wide proxy is installed, by default, this endpoint will be accessed via the proxy.
                  Should you wish for communication with this endpoint not to be proxied, please add the endpoint to the
                  proxy spec.noProxy list.

                  Deprecated: This field is replaced by enforcing to use failureDomain which includes both PrismCentral and PrismElement configuration.
                properties:
                  additionalTrustBundle:
                    description: |-
                      AdditionalTrustBundle is a PEM encoded x509 cert for the RootCA that was used to create the certificate
                      for a Prism Central that uses certificates that were issued by a non-publicly trusted RootCA. The trust
                      bundle is added to the cert pool used to authenticate the TLS connection to the Prism Central.
                    properties:
                      data:
                        description: Data of the trust bundle if Kind is String.
                        type: string
                      kind:
                        description: Kind of the Nutanix trust bundle
                        enum:
                        - String
                        - ConfigMap
                        type: string
                      name:
                        description: Name of the credential.
                        type: string
                      namespace:
                        description: namespace of the credential.
                        type: string
                    required:
                    - kind
                    type: object
                  address:
                    description: address is the endpoint address (DNS name or IP address)
                      of the Nutanix Prism Central or Element (cluster)
                    maxLength: 256
                    type: string
                  credentialRef:
                    description: Pass credential information for the target Prism
                      instance
                    properties:
                      kind:
                        description: Kind of the Nutanix credential
                        enum:
                        - Secret
                        type: string
                      name:
                        description: Name of the credential.
                        minLength: 1
                        type: string
                      namespace:
                        description: namespace of the credential.
                        type: string
                    required:
                    - kind
                    - name
                    type: object
                  insecure:
                    default: false
                    description: use insecure connection to Prism endpoint
                    type: boolean
                  port:
                    default: 9440
                    description: port is the port number to access the Nutanix Prism
                      Central or Element (cluster)
                    format: int32
                    maximum: 65535
                    minimum: 1
                    type: integer
                required:
                - address
                - port
                type: object
            type: object
            x-kubernetes-validations:
            - message: Cannot set both 'failureDomains' and 'controlPlaneFailureDomains'
                fields simultaneously. Use 'controlPlaneFailureDomains' as 'failureDomains'
                is deprecated.
              rule: '!(has(self.failureDomains) && has(self.controlPlaneFailureDomains))'
          status:
            description: NutanixClusterStatus defines the observed state of NutanixCluster
            properties:
              conditions:
                description: Conditions defines current service state of the NutanixCluster.
                items:
                  description: Condition defines an observation of a Cluster API resource
                    operational state.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed. If that is not known, then using the time when
                        the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This field may be empty.
                      maxLength: 10240
                      minLength: 1
                      type: string
                    reason:
                      description: |-
                        reason is the reason for the condition's last transition in CamelCase.
                        The specific API may choose whether or not this field is considered a guaranteed API.
                        This field may be empty.
                      maxLength: 256
                      minLength: 1
                      type: string
                    severity:
                      description: |-
                        severity provides an explicit classification of Reason code, so the users or machines can immediately
                        understand the current situation and act accordingly.
                        The Severity field MUST be set only when Status=False.
                      maxLength: 32
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: |-
                        type of condition in CamelCase or in foo.example.com/CamelCase.
                        Many .condition.type values are consistent across resources like Available, but because arbitrary conditions
                        can be useful (see .node.status.conditions), the ability to deconflict is important.
                      maxLength: 256
                      minLength: 1
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              failureDomains:
                additionalProperties:
                  description: |-
                    FailureDomainSpec is the Schema for Cluster API failure domains.
                    It allows controllers to understand how many failure domains a cluster can optionally span across.
                  properties:
                    attributes:
                      additionalProperties:
                        type: string
                      description: attributes is a free form map of attributes an
                        infrastructure provider might use or require.
                      type: object
                    controlPlane:
                      description: controlPlane determines if this failure domain
                        is suitable for use by control plane machines.
                      type: boolean
                  type: object
                description: |-
                  failureDomains are a list of failure domains configured in the
                  cluster's spec and validated by the cluster controller.
                type: object
              failureMessage:
                description: Will be set in case of failure of Cluster instance
                type: string
              failureReason:
                description: Will be set in case of failure of Cluster instance
                type: string
              ready:
                type: boolean
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
