name: Black Duck Intelligent Policy Check
on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  security:
    if: github.repository == 'nutanix-cloud-native/cluster-api-provider-nutanix'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install devbox
        uses: jetpack-io/devbox-install-action@v0.7.0
        with:
          enable-cache: true

      - name: Build Project
        run: make build-snapshot

      - name: Run Synopsys Detect
        uses: synopsys-sig/detect-action@v0.3.4
        with:
          scan-mode: INTELLIGENT
          github-token: ${{ secrets.GITHUB_TOKEN }}
          detect-version: 8.10.0
          blackduck-url: ${{ secrets.BLACKDUCK_URL }}
          blackduck-api-token: ${{ secrets.BLACKDUCK_API_TOKEN }}
