name: Black Duck Daily Policy Check
on:
  schedule:
    - cron: "0 0 * * *" # Midnight
jobs:
  security:
    if: github.repository == 'nutanix-cloud-native/cluster-api-provider-nutanix'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install devbox
        run: curl -fsSL https://get.jetpack.io/devbox | bash -s -- -f

      - name: Install devbox deps
        run: devbox install

      - name: Build Project
        run: devbox run -- make build

      - name: Black Duck Full Scan
        uses: synopsys-sig/synopsys-action@v1.7.0
        with:
          blackduck_url: ${{ secrets.BLACKDUCK_URL }}
          blackduck_token: ${{ secrets.BLACKDUCK_API_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          blackduck_scan_full: true
          blackduck_scan_failure_severities: 'BLOCKER,CRITICAL'
